RewriteEngine On
RewriteBase /Quadribol/

# Redirecionar todas as requisições para routes.php exceto arquivos existentes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ routes.php [QSA,L]
